# Rename this file name to .env for it to work

# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

######

# Default

######

LOCALE = zh-CN
PORT = 3000
SOURCE_URL = https://www.mca.gov.cn/article/sj/xzqh/2020/20201201.html

######

# Production

######

NODE_ENV = production

######

# Testing

######

NODE_ENV = testing

######

# Development

######

NODE_ENV = development
